body {
  color: rgb(136, 136, 136) !important;
  background-color: #f8f8f8b5;
}

::-webkit-scrollbar{
    display: none;
}

.main {
  background: rgb(137, 56, 230);
}

.btn {
  border: none !important;
}

.feather {
  color: white;
}

#currentPosition {
  color: rgba(155, 155, 155, 0.867);
  margin-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 150px;
  width: 100%;
}

.header img {
  height: 70%;
}


#map {
  height: 440px;
  border: 1px solid #AAA;
}

div#searchPosition {
  display: inline-flex;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
}

input#address {
  width: 250px;
  border-radius: 5px;
  border: none;
  text-align: center;

}

#addressView {
  text-align: center;
  margin-top: 40px;
}

#addressView p {
  margin-top: 40px;
}

.form-control:focus {
  box-shadow: none !important;
  border: none !important;
}

#images{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(137, 56, 230);
  padding-top: 40px;
  transition: all 3s;
}

.hide{
  display: none !important;
  transition: all 1s;
}

#images img{
  padding: 0;
  margin: 10px;
  width: 300px;
  height: 200px;
  display: none;
  transition: all 1s;
}
#images img:hover{
  transform: translateY(-80px) scale(1.2);
}

@media (max-height: 900px) {

  #map {
    height: 300px;
  }
  
  .header {
    height: 100px;
  }

}


@media (max-height: 700px) {

  #map {
    height: 250px;
  }
}
